body {
    background-color: #90EE90;
    display: flex;
    justifu-content: center;
    algin-items: center;
    flex-direction: column;
}

header {
    text-algin:center;
    color: white;
    font-family: Arial;
    background-image: url(https://static3.depositphotos.com/1000664/126/i/450/depositphotos_1262584-stock-photo-ukraine-carpathian-mountain.jpg);
    background-size: 100%;
}

section {
    text-algin: center;
}

footer {
    text-algin: center;
}
